.picture{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#navbar__logo{
    background-color: #0074f0;
    background-image: linear-gradient(to top, #0074f0 0%, #cfe5fd 100%);
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}
.nav-item{
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.insert_table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.nav-item:hover{
    color: #0074f0;
    transition: all 0.3s ease;
}
.graphReg{
    display: flex;
    justify-content: center;
    
}
.graphHeader{
    text-align: center;
}
