{% extends "base.html" %}
{% block title %}Calculation{% endblock %}
{% block content %} 
<form method="POST">
    <br />
    <h3 align="center">Andmete Arvutamine</h3>
    <br />
    <table class="insert_table">
        <tr>
            <td>
                Vonkekiirus:
            </td>
            <td>
                <input 
                type="number"
                class="form-control"
                id="vonkeKiirus"
                name="vonkeKiirus"
                value="{{vonkeKiirus}}"
                placeholder="Vonkekiirus"
                />
            </td>
        </tr>
        <tr>
            <td>
                Kaugus:
            </td>
            <td>
                <input 
                type="number"
                class="form-control"
                id="kaugus"
                name="kaugus"
                value="{{kaugus}}"
                placeholder="Kaugus"
                />
            </td>
        </tr>
        <tr>
            <td>
                Laengumass:
            </td>
            <td>
                <input 
                type="number"
                class="form-control"
                id="laenguMass"
                name="laenguMass"
                value="{{laenguMass}}"
                placeholder="Laengumass"
                />
            </td>
        </tr>
    </table>
    <br />
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Arvuta</button>
    </div>
    <br />
    <h2 align="center">Tulemus:</h2>
    {% if result is not none %}
        <p align="center"><strong>{{ result }}</strong></p>
    {% else %}
    {% endif %}
    <br />
    <p align="center">Sisestage kaks algparameetrid, et arvutada kolmas</p>
</form>
{% endblock %}